
body {
    background-color: rebeccapurple;
    background: url("ziteng.jpg");
    background-attachment: fixed;
}

.h1::selection, .h2::selection, .h3::selection, .h4::selection, .h5::selection, .h6::selection, span::selection {
    color: white;
    background: #ff7e2c;
}
.h1 {
    font-size: 70px;
}
.h2 {
    font-size: 60px;
}
.h3 {
    margin-left: 35px;
    font-size: 50px;
}
.h4 {
    font-size: 40px;
}
span {
    font-size: 30px;
}

table {
    border: 2px solid black;
    border-radius: 6px;
    font-size: 30px;
    background-color: forestgreen;
    padding: 8px;
}
td {
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    background-color: olive;
}


.code {
    background-color: black;
    width: 80%;
    margin: 5px auto;
    padding: 10px 30px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: gray 10px 10px 8px;
    color: white;
    font-size: 22px;
}
code::selection {
    color: white;
    background: #ff7e2c;
}
    .code span {
        font-size: 22px;
        color: aquamarine;
    }

.effect {
    border: 2px gray solid;
    border-radius: 18px;
    width: 80%;
    margin: 5px auto;
    padding: 10px 30px;
    box-shadow: gray 10px 10px 8px;
    background-color: burlywood;
}


.container {
    margin: 50px auto;
    background-color: beige;
    width: 80%;
    box-shadow: #222222 20px 20px 20px;
    border-radius: 40px;
    padding-bottom: 100px;
    /*filter: alpha(opacity = 50);*/
    /*opacity: 0.8;*/
}

/*header*/
.header1 {
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}
.header1 p {
    color: rebeccapurple;
    font-size: 90px;
    margin: 0px;
    padding: 15px;
}

/*jichu*/
.content_foundation {
    margin-left: 20px;
}
.content_foundation span {
    margin-left: 40px;
}
.effect1>h1, .effect1 h2, .effect1 a {
    color: blue;
}

a:link, a:visited {
    text-decoration: none;
    display: block;
    background-color: deepskyblue;
    color: chocolate;
    width: 50px;
    text-align: center;
}
a:active, a:hover {
    background-color: crimson;
}